extends ../layouts/layout.pug

block content
  .header-block
    .wrapper
      h1.section-title
        a.section-title__link(href='#') Topics
      h2.sub-section-title Housing supply

  .mid-block
    .wrapper
      h3.no-margin-top Latest
      .fb-container-row
        .topic-item
          h4 Research and reports
          p.topic-item__title
            a(href='#') Stimulating housing supply – Government initiatives (England)
          p.topic-item__date 15 June 2016
        .topic-item
          h4 Question
          p.topic-item__title
            a(href='#') Right to Buy: Low-cost Housing
          p.topic-item__person Asked by 
            a(href='#') Hannah Bardell MP
          p.topic-item__date 6 June 2016
        .topic-item
          h4 Question
          p.topic-item__title
            a(href='#') Affordable Housing
          p.topic-item__person Asked by 
            a(href='#') Ruth Cadbury MP
          p.topic-item__date 6 June 2016

      h3 Upcoming
      .fb-container-row
        .topic-item
          h4 Bills and legislation
          p.topic-item__title
            a(href='#') Neighbourhood Planning Bill
          p.topic-item__location 2nd reading: House of Commons
          p.topic-item__date 2.30pm - 10 October 2016
        .topic-item
          h4 Debate
          p.topic-item__title
            a(href='#') Housing: affordability
          p.topic-item__date 11 October 2016
        .topic-item
          h4 Debate
          p.topic-item__department Answered by 
            a(href='#') the Department for Communities and Local Government
          p.topic-item__date 2.30pm - 24 October 2016


  .wrapper
    .large-card.large-card--topics
      h3 What can I do about it?
      .fb-container-row
        .topic-item
          h4 Sign a petition
          p
            a(href='#') View all 6 petitions on this topic
        .topic-item
          h4 Share your views with a committee inquiry
          p
            a(href='#') Capacity in the homebuilding industry inquiry
        .topic-item
          h4 Contact your MP
          p
            a(href='#') Dennis Smith MP
            has made 
            a(href='#') 3 contributions
            on ‘Housing supply’ this year.


    .topic-links.fb-container-row
      .category-definition
        h3.category-definition__title
          a(href='#') MPs and Lords
        .category-definition__description
          p What have they said and done about this in Parliament?

      .category-definition
        h3.category-definition__title
          a(href='#') Bills and legislation
        .category-definition__description
          p Proposed and agreed changes to the law.

      .category-definition
        h3.category-definition__title
          a(href='#') Statements
        .category-definition__description
          p What has the Government announced?

      .category-definition
        h3.category-definition__title
          a(href='#') Questions
        .category-definition__description
          p What has the Government been asked by MPS and Lords?

      .category-definition
        h3.category-definition__title
          a(href='#') Research and reports
        .category-definition__description
          p Analysis and research published by Parliament.

      .category-definition
        h3.category-definition__title
          a(href='#') Debates
        .category-definition__description
          p Upcoming and past debates.

      .category-definition
        h3.category-definition__title
          a(href='#') Votes
        .category-definition__description
          p Results of how MPs and Lords have voted.

      .category-definition
        h3.category-definition__title
          a(href='#') Committees
        .category-definition__description
          p Committee work on this topic.

      .category-group
        h3.category-group__title Other Parliamentary activity
        ul.category-group__list
          li.category-group__list-item
            a.category-group__link(href='#') Early day motions
          li.category-group__list-item
            a(href='#') All Party Parliamentary Groups

      .category-group
        h3.category-group__title Government departments
        a(href='#') Department for Communities and Local Government
