footer.ukpds-footer
  .wrapper
    .footer-meta
      .footer-meta-inner
        img.footer-portcullis(src='../../images/portcullis--black.svg', alt='')
      .copyright
        p &copy; Parliamentary copyright
        br
        br
