.sitewide-message
  .wrapper
    p Experimental prototypes using fake data for the alpha phase of the Parliament UK website.

header
  .wrapper
    a.site-logo(href='/')
      img.site-logo(src='../../images/parliament-uk--white.svg', alt='Parliament.uk')
